<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let actualTitle = (typeof title == 'undefined')? "Boilerplate" : title  %>
    <title><%= actualTitle %> </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/loading.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <script src="/js/jquery.js"></script>


</head>

<body class="bg-color d-flex flex-column vh-100">

    <%- include('../partials/navbar') %>

    <main class="container mt-5">
        <%- include('../partials/flash') %>
        <%- body %>

    </main>

    <%- include('../partials/footer') %>
    <%# include('../partials/loading') %>




    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/validateForms.js"></script>
    <script src="/js/navbar.js"></script>

</body>

</html>